<div class="brand">
    <a href="">AlarmLogger</a>
</div>

<nav class="nav">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Status</NavLink>
    <NavLink class="nav-link" href="recent-alarm-history">Recent History</NavLink>
    <NavLink class="nav-link" href="alarm-history-query">History Query</NavLink>
</nav>
